
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/


.footer { padding: rem-calc(0 16); }

.footer .grid-3 {
  max-width: none;
  width: 100%;

  @include breakpoint(footer) { width: 33%; }
}

.sitemap { padding: rem-calc(35 0 15); }

.sitemap-list {
  line-height: 1.6;
  list-style: none;
  padding-left: 0;
  text-align: center;

  &:last-child { margin-right: 0; }
}

.sitemap-list .sitemap-item { margin-bottom: 0;

  &:first-child { padding-top: 0; }
}

.sitemap-list .sitemap-item.smaller {
  -moz-osx-font-smoothing: initial;
  font-size: .8em;
}

.sitemap-list .sitemap-item-bold {
  font-weight: 500;
  opacity: .9;
  padding-top: rem-calc(15);
}

.sitemap-list .sitemap-link { text-decoration: none !important; }

.footer-licensing {
  color: $gray-6;
  font-size: .875em;
}

.footer-licensing a {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, .4) 60%);
  background-position: 0 rem-calc(13);
  color: $gray-6;
}
