/*------------------------------------*\
  #MODULES
\*------------------------------------*/

// HEIGHT DEFAULT VAR
$dh : rem-calc(40);

// BIO FOR A PERSON WITH 3:6 GRID

.person-bio .h3,
.person-bio .h6,
.person-bio article p,
.person-bio .bio-link { padding-left: 0;

  @include breakpoint(mv) { padding-left: rem-calc(175); }
}

.person-bio .h6 { display: block; }

.person-bio p { margin-bottom: rem-calc(12);

  @include breakpoint(mv) { margin-bottom: rem-calc(26); }
}

.person-bio .grid-3 {
  margin-top: rem-calc(5);
  max-width: rem-calc(150);
  position: relative;
}

.person-bio .grid-3 .sw {
  left: 0;
  opacity: 1;
  position: absolute;
  transition: opacity .25s;

  &:hover { opacity: 0; }
}

.person-bio .bio-link {
  margin: 0 auto;
  max-width: 37.5rem;
  padding-top: 0;
  width: 100%;

  @include breakpoint(lv) {
    max-width: 11.25rem;
    padding-left: 0;
    padding-top: rem-calc(129);
  }
}

.person-bio figure.grid-3.l { float: none;

  @include breakpoint(mv) { float: left; }
}

// FRIENDS + CONTRIBUTE

.friends { @extend %cf; }

.friends .grid-3 {
  margin-bottom: rem-calc(20);
  text-align: center;

  @include breakpoint(mv) { margin-bottom: rem-calc(40); }

  @include breakpoint(lv) { margin-bottom: rem-calc(60); }
}

.friends .grid-3 figure {
  margin-bottom: rem-calc(16);
  min-height: rem-calc(150);
}

.friends .grid-3 figure.contribute-topic-image-wrap { min-height: rem-calc(90); }


.friends .grid-3 figure .contribute-topic-image {
  opacity: .4;
  width:rem-calc(80);
}

.friends .grid-svg {
  color: rgba(0, 0, 0, .3);
  margin-bottom: rem-calc(20);
}

// ASIDE NAVIGATION FOR DOCS
.api-nav {
  background-color: $gray-6;
  border-radius: rem-calc(12);
  margin-left: rem-calc(220);
  padding: rem-calc(45 30 35 30);
  position: absolute;
  text-align: right;
  top: rem-calc(347);
  width: rem-calc(200);
}

.api-nav ul { margin-bottom: rem-calc(35); }

// HOT FIX FOR PRISM
code {
  background-color: transparent !important;
  border: 0 none !important;
  margin-top: rem-calc(25) !important;
  white-space: normal !important;
}

// ARTICLE
ul,
ol { margin-bottom: rem-calc(26); }

article ol { list-style-type: decimal; }

ul {
  list-style: inherit;
  padding-left: rem-calc(26);
}

ol { padding-left: rem-calc(30); }

img {
  border: 1px solid $gray-5-5;
  border-radius: 3px;
}

aside img { border: 0; }

// JUMP MARK
.jump-mark {
  background-clip: content-box;
  background-image: none !important;
  margin-top: rem-calc(-50);
  padding-top: rem-calc(50);

  &:hover { background-image: none; }
}

.friends use,
.contribute-aside-icon use { transform: scale(2.5); }

.friends svg,
.contribute-aside-icon svg {
  display: block;
  height: rem-calc(80);
  margin: 0 auto;
  width: rem-calc(80);
}

.contribute-aside-icon { @include breakpoint(lv) { text-align: right; }}

.contribute-aside-icon svg {
  display: inline-block;
  margin: 0;
}

#slack-integration {
  width: 100%;
  text-align: center;
  padding-bottom: rem-calc(25);
}

#slack-integration input {
  border: 1px solid;
  font-size: 1em;
  height: 2.2rem;
  width: 60%;
}

#slack-integration #mail-for-slack {
  border-color: $lilac-l;
  color: $gray-2;
  padding: rem-calc(12) rem-calc(8);

  &:focus,
  &:hover {
    outline: none;
    border-color: $lilac;
  }
}

#slack-integration #submit-slack {
  border-color: $lilac;
  background-color: $lilac;
  color: $gray-6;
  margin-top: rem-calc(7);
  padding: rem-calc(8) rem-calc(3);
  font-weight: bold;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    background-color: $lilac-l;
    border-color: $lilac-l;
  }
}

#slack-integration .message {
  font-weight: 400;
  line-height: 2;
}
