

/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/


header a,
footer a { text-shadow: none !important; }

.nav {
  display: flex;
  padding: rem-calc(17 20);
  transition: height 0.2s;
}

.nav.is-active {
  flex-direction: column;
  font-size: 4vh;
  height: 100vh;
  position: fixed;
  text-align: center;
  z-index: 100;
}

.nav.is-active .main-nav {
  margin-bottom: 5vmin;
  margin-top: 4vmin;
  width: 50%;

  @include breakpoint(tiny) {
    // OFFSET THE ANCHOR PADDING BELOW
    padding-right: 1em;
    width: 80%;
  }
}

.nav.is-active .main-nav a {
  @include breakpoint(tiny) {
    display: inline-block;
    padding-left: 1em;
  }
}

.nav.is-active .main-nav > a {
  display: block;
  margin-right: 0;
}

.nav.is-active .meta-nav { text-align: center; }

.nav.is-active + .hid .sub-nav {
  bottom: 0;
  padding: rem-calc(8 10 5 10);
  top: auto;
  z-index: 101;
}

.nav.is-active .active { background-position: 0 6.1vh; }

.nav .active { font-weight: 500; }

.logo {
  display: block;
  margin-right: 0 !important;
  transition: all 0.2s;
}

.is-active .logo {
  padding-top: 3vh;
  width: 50%;
  margin: 0 auto;
  margin-left: 25%;
}

.logo img { border: 0; }

.main-nav {
  display: none;
  padding-top: rem-calc(3);
  width: auto;

  @include breakpoint(main-nav) { display: block; }
}

.is-active .main-nav { display: block; }

.meta-nav {
  display: none;
  margin: 0;
  padding: 0;

  @include breakpoint(main-nav) { display: inline-block; }
}

.is-active .meta-nav { display: inline-block; }

.meta-nav-list-item { padding-top: rem-calc(3); }

.sub-nav {
  display: none;
  @include breakpoint(main-nav) { display: block; }
}

.is-active + .hid .sub-nav { display: block; }

.sub-nav a { background-image: none; }

.meta-nav a,
.main-nav a,
.sub-nav a { font-weight: 300; }

.menu-button {
  display: block;
  height: rem-calc(35);
  margin-left: auto;
  position: relative;
  text-align: center;
  top: rem-calc(-4);
  transition: all 0.2s;
  width: rem-calc(35);
  z-index: 102;

  @include breakpoint(main-nav) { display: none; }
}

.is-active .menu-button {
  display: block;
  top: -82.6vh;
}

.menu-button-span,
.menu-button-span::before,
.menu-button-span::after {
  background-color: #fff;
  border-radius: 3px;
  display: inline-block;
  height: rem-calc(5);
  width: rem-calc(35);
}

.menu-button-span::before,
.menu-button-span::after {
  content: "";
  left: 0;
  position: absolute;
  transition: all .2s;
}

.menu-button-span {
  position: relative;
  top: rem-calc(-5);
  transition: all .2s;

  &::before { top: rem-calc(20); }

  &::after { top: rem-calc(10); }
}

.is-active .menu-button {
  position: absolute;
  right: 1.25rem;
  top: 1rem;
  transform: rotate(45deg);
}

.is-active .menu-button-span:after { opacity: 0; }

.is-active .menu-button-span:before {
  top: 0;
  transform: rotate(90deg);
}

body.orange .animation.colorise .letter { stroke: $orange; }

body.blue .animation.colorise .letter { stroke: $blue; }

body.green .animation.colorise .letter { stroke: $green; }

body.yellow .animation.colorise .letter { stroke: $yellow; }

body.lilac .animation.colorise .letter { stroke: $lilac; }

body.gray .animation.colorise .letter { stroke: $gray-1; }

.animated-logo {
  background: #fff;
  margin-top: rem-calc(102);
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
}

.animated-logo .animation {
  margin: 1.25em 0 1em;
  transition: margin-top 0.5s, stroke 0.5s;
}

.animated-logo .animation svg { width: 90%; }

.animated-logo .animation.slideUp { margin-top: -8.75em; }

.animated-logo .animation.animate .letter {
  opacity: 1;
  transform: scale(1);
}

.animated-logo .animation .letter {
  opacity: 0;
  transform: scale(.1);
  transform-origin: center center;
  transition: all 500ms cubic-bezier(.175, .885, .32, 1.275);

  &:nth-child(2) { transition-delay: .1s; }

  &:nth-child(3) { transition-delay: .2s; }

  &:nth-child(4) { transition-delay: .3s; }

  &:nth-child(5) { transition-delay: .4s; }

  &:nth-child(6) { transition-delay: .4s; }
}

.content { transition: background-position 1s, margin-top .5s; }

.content.during-intro {
  background-position: center rem-calc(-100);
  margin-top: 3rem;
}

.is-active .logo img { width: 180px !important; }

.is-fixed {
  bottom: 0;
  position:fixed !important;
  z-index: 400;
}

.mobile header { height: 65px; }

.mobile header.during-intro { height: 200px; }

.mobile header.detached { height: 65px; }

.mobile header.detached.is-active { height: 100%; }

.mobile header.is-active { height: 100%; }

.mobile header a { background-image: none; }

.mobile header .main-nav {
  opacity: 0;
  transition: opacity 0.5s;
}

.mobile header .is-active .main-nav { opacity: 1; }

.mobile header .animated-logo { margin-top: 4.375rem; }


/*------------------------------------*\
  #HEADER
\*------------------------------------*/


// WHEN NAVIGATION IS VISIBLE DON'T ALLOW TO SCROLL CONTENT
.no_scroll {
  height: 100%;
  overflow: hidden;
}

// TOP MENU LAYOUT
header {
  cursor: pointer;
  height: 102px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform .4s, height .3s, background .4s;
  transform: translate(0,0);
  width: 100%;
  z-index: 1000;
}

header.during-intro { height: 245px; }

// WHEN HIDDEN IT GOES UP
.invisible {
  opacity: 0;
  transform: translate(0, -64px);
  transition: transform .2s;
}

// WHEN VISIBLE AND DETACHED POSITION IS FIXED
.detached {
  position: fixed;
  transition: transform .3s, height .3s, background .4s, opacity .3s;
}

// INCREASE MENU WIDTH AND HEIGHT
.expanded {
  cursor: default;
  height: 100%;
  position: fixed;
  width: 100%;
}

.expanded .menu-button-span::before {
  content: 'x';
  font-size: 1.4em;
  line-height: 1.4em;
  padding-right: .15em;
}

// ON FOCUS DON'T SHOW OUTLINE
.menu-button-span:focus { outline: none; }
